body{
    margin: auto;
    font-family: sans-serif;
    background-color: aliceblue;
}
.cuerpo-calculadora{
    background-color: dimgray;
    max-width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}
header{
    text-align: center;
    width: 100%;
}
code{
    font-size: 16px;
}
.limpiar{
    width: 40px;
}
.ult{
    background-color: darkcyan;
}
.ult:hover{
    background-color: cyan;
}
.operacion.igual{
    width: 283px;
    background-color: darkgoldenrod;
}
.operacion.igual:hover{
    width: 283px;
    background-color: yellow;
}
h1{
    text-align: center;
    margin-top: 15vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    

}

.operacion{
    background-color: darkgreen;
}
.operacion:hover{
    background-color: green;
}
.limpiar{
    background-color: darkred;
}
.limpiar:hover{
    background-color: red;
}
#typear{
    background-color: gray;
    border: 0px;
    padding: 15px;
    width: 255px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 40px;
    text-align: right;

}
input{
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 10px; 
    min-width: 60px;
    background-color: grey;
}
input:hover{
    background-color: darkgrey;
}


td{
    display: inline-flex;
}

